body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 200px;
    width: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 145px 60px 145px; 
}

ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    gap: 8px;
}

.section-zero {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.container {
    display: flex;
    flex-direction: row;
}

.container .card-text {
    height: 300px;
    width: 200px;
}

.container .card-text .card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.quote-block {
    align-self: center;
    margin: 0px 145px 60px 145px; 
    font-size: 60px;
}

.section-three {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin: 0px 145px 60px 145px; 
}

.section-three button {
    align-self: center;
}

.footer {
    align-self: center;
}